body {
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height:1.725;
  font-size: 16px;
}

pre {
  max-height: 300px;
  font-size: 85%;
  margin-bottom: 3em !important;
}

textarea {
  width: 90%;
  height: 400px;
  font-family: Consolas, Monaco, monospace;
  font-size: 80%;
}
